<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916644992383-rndt688aksm0jbh8aml5mm5548bs0u6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916644992383-rndt688aksm0jbh8aml5mm5548bs0u6s</string>
	<key>API_KEY</key>
	<string>AIzaSyAehiOv85ZllXfukTHUdrea7w9QNeJEeWo</string>
	<key>GCM_SENDER_ID</key>
	<string>916644992383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.surf.mobidoc.dev</string>
	<key>PROJECT_ID</key>
	<string>mobidoc-54f1f</string>
	<key>STORAGE_BUCKET</key>
	<string>mobidoc-54f1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916644992383:ios:61d2b777bbaeda78e0f64a</string>
</dict>
</plist>